<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="news" placeholder="Enter ...">
        <button type="submit">Enter</button>
    </form>
      % if news %
        { % if news.error %}
            <p>{{news.error}}</p>
        { % else %}
            <h2>{{news.title}}</h2>
            <p><strong>Author:</strong> {{ news.author }}</p>
            <p><strong>Source:</strong> {{ news.name }}</p>
            <p>{{ news.description }}</p>
        {% endif %}
    {% endif %}
    </body>
</html>